*{
  box-sizing:border-box;
}
#rpc{
  padding-bottom: 10px;
  padding-left: 10px;
}
#rock{
  height:140px;
  background-color: whitesmoke;
 }
 #rock:hover{
 color: beige;
 }
 #paper{
  height:140px;
  background-color: whitesmoke;
}
 #paper:hover{
  background-color: rgb(12, 179, 48);
 }
 #scissor{
  height:140px;
 }
 #rock:hover{
  background-color: rgb(12, 179, 48);
 }
 .container{
  margin-left:240px;
  margin-top: 100px;
  margin-right:280px;
  background-color:pink;
  padding-left:160px;
  padding-top: 30px;
 }
.displaybox{
  display: flex;
}
.rightdiv{
  margin-left:70px;
}
#btn{
margin-top:10px;
margin-right:70px;
padding-left:200px;
padding-right: 230px;
height:50px;
background-color:rgb(215, 224, 215);
}
